<div id="<%= dom_id(consulta) %>">
  <p>
    <strong>Paciente:</strong>
    <%= consulta.paciente_id %>
  </p>

  <p>
    <strong>Médico:</strong>
    <%= consulta.medico_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= consulta.data %>
  </p>

  <p>
    <strong>Horário:</strong>
    <%= consulta.horario %>
  </p>
</div>
